.button {
    border: 2px solid;
    /* box-sizing: border-box; */
    /* display: inline-block; */
    height: 60px;
    width: 60px;
    padding: 2px;
    margin: 2px;
    text-decoration: color-mix(in srgb, color 20%, color 40%);
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
}

#pink{
    background-color: pink;
}

#skyblue{
    background-color: aqua;
}

h1{
    text-transform: uppercase;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}