html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative
}

body {
    margin: 0;
    padding: 0
}


* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
}

code,kbd,pre,samp,code * {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace !important
}



header{
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 550;
    background-color: rgba(0, 0, 0, 0);
    height: 58px;
}
.nav1 a {
    padding-left: 20px;
    
}

.headerline{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.updates-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    padding-bottom: 50px;
}

.updates-banner {
    background-color: var(--banner-background) !important;
    color: var(--banner-text);
    font-size: 14px;
    position: relative;
    line-height: 150%;
    z-index: 1;
}

heroSection{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    height: 600px;
    border-bottom: #333333;
}

.heroSection1 {
    padding-top: 70px;
    width: 40%;
}
.heroSection2 {
    width: 70%;
}

.heroSection2 img {
    width: 100%;
    height: 80%;
}

.hersection1nav {
    font-size: x-small;
}

header button {
    width: 100px;
 height: 30px;
 background-color: #0078d4;
 color: white;
 border: none;
 font-size: small;
 border-radius: 4%;
 font-weight: 600;
}

.herosectionbutton {
 width: 225px;
 height: 50px;
 background-color: #0078d4;
 color: white;
 border: none;
 font-size: medium;
 padding-top: 4px;
 border-radius: 4%;
 font-weight: 700;
}

.heroSectionspan {
        font-size: 14px;
        font-weight: 600;
        padding: 8px 12px;
        border-radius: 32px;
        background-color: rgba(60, 50, 50, 0.01);
        border: 2px solid rgba(0, 0, 0, 0.07);
        color: #333333;
        width: max-content;
        margin-bottom: 8px
  
}

.hereosectionh1{
    font-style: normal;
    font-size: 3rem;
    font-weight: 500;
}

main {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px ;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(243, 236, 236, 0.352);
}

main div {
    list-style: none;
}

.mainlist {
    padding-top: 40px;
    padding-left: 80px;
}

.mainlist li {
    padding-bottom: 20px;
    position: relative;
}

.mainlist li img {
    padding: 0;
    margin: 0;
    position: absolute;
    left:-40px;
    top:-10px
}

main h2 {
    font-size: 2rem;
    font-weight: 500;
}